*, *::after, *::before{
    box-sizing: border-box;
}

html{
    min-width: 450px;
}

.collapse {
    /* navbar div*/
    border: 2px solid;
    border-radius: 5px;
}


.nav-item{
    
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
}



.nav-item:hover{
    background-color: grey;
    transition: 0.5s;
    text-shadow: 1px 1px silver;

    
}
.nav-item.nav-link.active{
    color: red;
}

.article-wrapper{
    border: 1px solid;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    border-color: silver;
}

.btn{
    margin-right: 10px;
}

.newArticle{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

textarea{
    width:100%;
    max-width: 95%;
    border-color: silver
}

.title{
    width:100%;
    max-width: 95%;
    border-color: silver
}

.rightCorner{
    position: absolute;
    right: 50px;
    top: 30px;
}

.rightCorner:before{
    content: "Hello! ";
    font-weight: lighter;

}