*, *::after, *::before{
    box-sizing: border-box;
}

html{
    min-width: 450px;
    background-color: lightslategray;
    
    
}

:root{
    --border-color: silver;

}

.collapse {
    /* navbar div*/
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 black;
}

.nav-item{
    
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    
}

.nav-item.nav-link p{
    font-size:x-small ;
    position: relative;
    top:10px;
    
}

.nav-item:hover{
    /* background-color: grey; */
    box-shadow: inset 5px 5px 5px 0 black;
    transition: 0.5s;
    text-shadow: 1px 1px silver;

}

.df{
    display: flex;
    
}

.container{

    background-image: linear-gradient(white, lightslategray);
}

.article-wrapper-right{

    position: relative;
    right: 20px;
    margin-bottom: 10px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    justify-content: center;
    writing-mode: vertical-rl;
    width: 8px;
    border-radius: 10px;
    box-shadow: 3px 3px 0 0 grey;
    
}

.article-wrapper-right:hover{
    right:60px;
    width:50px;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
}

.article-wrapper-left{
    width: 90%;
    border-right: 2px double grey;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: white;
    color: rgb(51, 50, 50);
    box-shadow:  3px 3px 0 0 grey;

}

.article-wrapper-left h4, .article-wrapper-left p {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .btn-info, .btn-primary, .btn-danger{
    margin-bottom: 5px;
    margin-right: 10px;
    
    
} */

.btn-custom{
    position: relative;
    margin-right: 10px ;
    margin-bottom: 5px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: grey;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 lightgrey, 2px 6px 5px 1px rgb(190, 190, 190) ;
}

.btn-custom:hover{
    color: black;
    box-shadow: none;
    top: 4px;
}

.newArticle{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.rightCorner{
    position: absolute;
    right: 50px;
    top: 30px;
}

.rightCorner:before{
    content: "Hello! ";
    font-weight: lighter;

}
.form-container {
    height: 500px;
    margin-top: 100px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    z-index: 1;
    padding-bottom: 10px;
    box-shadow: 0 0 5px 0 var(--border-color);
}

.form-container input, textarea{
    margin: 8px 0;
    border-radius: 10px;
}

.form-container h4{
    background-color: white;
    position: absolute;
    top: -25px;
    border: 1px solid silver;
    border-radius: 10px;
    box-shadow:  -1px 0 5px 0 silver;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    z-index: 2;
    
}

.username,.nickname,.password{
    text-shadow: 2px 1px white;
}

.label{

    position: absolute;
    left: 50px;
    text-shadow: 2px 1px white;
    
}
.description{
    top:150px;
}
.markdown{
    top: 300px;
}
#description, #markdown{
    resize: none;
    margin-bottom: 10px;
}

#username, #password, #nickname{
    
    border: 2px solid silver;
    outline: none;
}

#title, #description, #markdown{
    position: relative;
    width:95%;
    max-width: 95%;
    border: 2px solid silver;
    transition: 0.5s;
    outline: none;
    
}



#title:focus, #description:focus, #markdown:focus{
    border:  2px solid blue;
    animation: changeBorder  3s ease-in-out infinite;
    

}
@keyframes changeBorder {
    0% { 
        border: 2px solid rgb(0, 0, 0)
    }

    50%
    {
        border: 2px solid rgb(255, 253, 253)
    }
    100%
    { 
        border: 2px solid rgb(2, 2, 2)
    }
}
